
:root{
--color1:#f4511e;
/* nav*/
}
/* body{
    overflow-y: scroll !important;
    height: scroll !important;
} */
.mynav{
   background-color: var(--color1)!important;
    --bs-navbar-nav-link-padding-y: 0rem !important;
     --bs-navbar-nav-link-padding-x: 1rem !important;
           letter-spacing: 3px;
     
}

.element.style { 
    padding: 5px !important;
    margin: 4px !important;
    
}
.nav-link{
    text-decoration: none !important;
}

.navbar li a, .navbar .navbar-brand {
    color: #fff !important;
}
.navbar li a, .navbar .navbar-brand {
    color: #fff !important;
}

.navbar-toggle {
    padding: 5px !important;
    margin: 4px !important;
    
}
.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
    color: #5e5e5e;
    background-color: transparent;
}
.navbar li a, .navbar .navbar-brand {
    color: #fff !important;
}
.navbar-default .navbar-brand {
    color: #777;
}
.navbar-brand:focus, .navbar-brand:hover {
    text-decoration: none;
}
a:focus, a:hover {
    color: #23527c;
    text-decoration: underline;
}
a:active, a:hover {
    outline: 0;
}


.navbar-brand {
 
    color: #5e5e5e;
    background-color: transparent;
    margin-left: 50px !important; 

}
.navbar li a, .navbar .navbar-brand {
    color: #fff !important;
}
.navbar-default .navbar-brand {
    color: #777;
}
.navbar-brand:focus, .navbar-brand:hover {
    text-decoration: none;
}
a:focus, a:hover {
    color: #23527c;
    text-decoration: underline;
}
a:active, a:hover {
    outline: 0;
}

.nav-link:hover {
    background-color:white!important;
    color: var(--color1)!important;

}

/* .w-50 {
    width: 100% ! important;
} */

/* header*/
.head{
    background-color: var(--color1)!important; 
    color: white!important;
   
}
.head h1{
    font-size: 63px !important;
    letter-spacing: 4px !important;
    --bs-body-font-family: var(--bs-font-sans-serif);
}
  /* form*/
 .form-control{
    height: 34px !important;
    padding: 6px !important;
  
 }
 /* body*/
 .p1{
    line-height: 25px !important;
 }
.fa-solid{
    color: #f4511e !important;
    position: relative !important;
    top: 1px !important;
    display: inline-block !important;}
   
.colorr{
 background-color: var(--color1) ;
}

.color1:hover{
    color: var(--color1) !important ;
    background-color:white !important;
    border-color:var(--color1) !important ;
}

#button-addon1:hover{
background-color: lightgray !important;
color: black !important;
}
.card2{
    border: none !important;
}
.carousel-indicators [data-bs-target] {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: var(--color1) !important;
}
.card1{
    border-color:var(--color1) !important ;
 
}
.contant{
    height: 100% !important;
    width: 100% !important;
    padding: 6px 12px !important;
    border-radius: 4px !important;
}
.form-floating{
    height: 150px !important;
}

.card-header:first-child {
  border-radius: 0% !important;
}
.card1:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)!important;
}
@media screen and (max-width: 700px) {
    #company{
        font-size: 30px !important;
        padding-top:50px !important ;
    }
    .navbar-brand,.nav-link {
 
        color: #5e5e5e;
        background-color: transparent;
        margin-left: .8rem !important; 
        margin-right:.8rem!important; 
    }
   
}

@media screen and (max-width:557px) {
.aboutform{
    width: 100% !important;
}
.aboutcompany{
    margin: 0px !important;
    padding-left: 0px !important;
}
.lorem{
    padding-left: 0px !important;
padding-top: 10px !important;
padding-bottom: 50px !important;
}
.lorem2{
    padding-bottom: 20px !important;
}
.btn2{
    width: 100% !important;
}
.fa-signal{
    padding-left: 100% !important;
}
.lorem3{
    padding-right: 0% !important;
}










    }

